* {
  box-sizing: border-box;
}

body {
  background-color: #274471;
  font-family: "Lato", sans-serif;
}

.container {
  width: 400px;
  margin: 30px auto;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
}

#contactForm {
  padding: 25px;
}

h1 {
  margin-top: 0px;
}

input[type="text"],
input[type="email"],
[type="submit"],
textarea {
  width: 100%;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #1ac0f3;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #76b041;
}
